
/**********************************/
/********** General CSS ***********/
/**********************************/



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    overflow-x: hidden;
    color: #666666;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}


.main-container {
    background-color:#222222dd;

    /* background-color:#222222f7; */
    height: fit-content;
    width: 21cm;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 10px;
} 

p,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}



a {
    color: #222222;
    transition: all .3s;
}

/* a:hover,
a:active,
a:focus {
    color: #FF6F61;
    outline: none;
    text-decoration: none;
} */

.btn:focus {
    box-shadow: none;
}

.back-to-top {
    float: right;
    margin-right: 2px;
    margin-bottom: 10px;
    font-size: 1.5em;
    background-color: white !important;
    border-radius: 5%;
    padding: 2px 4px;
}

/* .back-to-top:hover,
.back-to-top:active,
.back-to-top:focus
{

} */



/**********************************/
/************ Sidebar *************/
/**********************************/

    .sidebar {
        position: sticky;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        width: 20%;
        z-index: 1;
    }
    
    .sidebar-header {
        height: 6.5cm;
    }

    .sidebar-header img {
        width: 100%;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .sidebar-nav {
        position: relative;
        width: 100%;
        float: left;
        color: #222222;
    }
    
    nav ul {
        padding: 10px;
        margin: 10px 0;
        border: solid #222222aa 5px;
        background-color: #222222aa;
        border-radius: 5px;
    }

    .nav-menu {
        color: #222222;
        z-index: 3;
    }

    nav li {
        padding: 10px;
        font-size: 0.9em;
    }
    
    nav i {
        float: right;
        color: #FF6F61 !important;
    }
    
    nav a {
        color: white !important;
    }
    
    nav a:hover,
    nav a:active,
    nav a:focus {
        color: #FF6F61 !important;
        outline: none;
        text-decoration: none;
    }

    nav i:hover,
    nav i:active,
    nav i:focus {
        color: white !important;
        outline: none;
        text-decoration: none;
    }
    
    .sidebar-nav-title,
    .checkbtn ,
    #check {
        display: none;
    }



/****************** container */
.container-right {
    position: relative;
    top: 0;
    margin: 0 !important;
    padding: 0 !important;
    z-index:0;
    width: 75%;
    
}

/* header */


#header {
    background: white;
    margin: 3% 0;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 150px;
}

#header p:first-of-type {
    /* color:#FF6F61 !important; */
    font-weight: bold;
}

#header p:last-of-type {
    font-weight:normal;

}
.content-inner h1 {
    color:#222222;
    text-shadow: 50px;
    padding-top: 0.5em;
}

/* #text {
    color:#222222 !important;
}

.text-container {
    color:#222222 !important;
} */

/* main */
.main {
    padding-left: 3%;
    padding-top: 3%;
    background: white;  
}

.main h2 {
    font-weight: 200;
    font-size: 1.2em;
}

.main p,
.main a {
    font-weight: 200;
    font-size: 0.9em;
}

.about .btn {
    background-color:#FF6F61;
    padding: 2%;
    float: right;
    border: transparent;
}

.main a:hover,
.main a:active,
.main a:focus {
    color: #FF6F61 !important;
    background-color: #222222;
    outline: none;
    text-decoration: none;
}


.fa-minus {
    color:#FF6F61;
}

.about .content-presentation {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
}

.about-img {
    width: 30%;    
}

.about-img img {
    width: 100%;
}

.about-info {
    width: 55%;
    padding-top: 1em;
}

.about-info p {
    text-align:justify;
}

.about-info p:last-of-type {
    padding-bottom: 1em;
}

/* education, exp, skillsdetails */
.main p,
.main span,
.main h3, 
.main h4, 
.main h5 {
    font-size: 1em !important;
}

.content-presentation {
    padding: 1% 0%;
}

.education {
    background-color: rgba(220, 220, 220, 0.105) !important;  
}

.SkillsDetails {
    background-color: rgba(220, 220, 220, 0.105) !important;  
}

.contact {
    background-color: white !important;  
}

.education,
.experience,
.SkillsDetails,
.contact {
    padding-top: 3%;
}


/* .edu-col,
.exp-col {
    padding: 20px 0 20px 20px; 
    border-left: 1px solid #FF6F61;
    border-bottom: 1px solid #FF6F61;
} */

.education .content-presentation,
.experience .content-presentation, 
.SkillsDetails .content-presentation,
.contact .content-presentation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.education .col,
.experience .col, 
.SkillsDetails .col {
    width: 45%;
}

.education .col .fa,
.experience .col .fa, 
.SkillsDetails .col .fa {
    font-size: 1.2em;
}

.exp-col {
    width: 100%;
}

.education .col :first-child,
.experience .col :first-child,
.SkillsDetails .col :first-child,
.contact .col :first-child {
    padding-bottom: 5%;
}

.SkillsDetails i {
    color: #FF6F61;
}

.contact i {
    padding-right: 5%;
}

.social {
    padding-top: 5%;
}

.social i,
.contact i {
    margin: 1% !important;
    color: #FF6F61 !important;

}

.social i:hover,
.social i:active,
.social i:focus {
    color: #fcfcfc !important;
    background-color: transparent !important;;
    outline: none;
    text-decoration: none;
    padding: 0px !important;
}

.form .btn {
    background-color:#FF6F61;
    padding: 2.5% 2%;
    margin-left: 0.1em;
    float:left;
    border: transparent;
} 

.form .btn:hover {
    color: #FF6F61 !important;
    background-color: #222222;

}

.link-no-bg {
    background-color: transparent !important;
    text-decoration: none;
}

.contact p {
    padding-bottom: 0.9em;
    font-size: 0.9em !important;
}

.contact {
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.form-group {
    padding: 0.1em;
}

input,
textarea {
    width: 100%;
}

.contact .col {
    width: 45%;
}

.content-inner-img {
    display: none;
}

#role {
    display: none;
}


/* PRINTING SPECIFICS */
@media print {
    .experience {page-break-after: always;}

    
#role {
    display: block;
}

    .container-right {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

    .header {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-between;
        height: 5cm;
    }

    .header .content-inner {
        width: 75%;
    }

    .header-header {
        width: 20%;
        display: block;
    }

    .header-header img {
        width: 80%;

    } 

    .contact {
        display: none;
    }}


    .pr-sidebar {
        display: none;
    }

    .hide {
        display: none;
    }


/* RESPONSIVE TABLET AND PHONE DISPLAY SPECIFICS */

    /* @media screen and (min-width: 769px) { 
        /* .sidebar-content {
            padding: 20px 0;
        } */
        /* } */ 
        
        @media screen and (max-width: 769px) {
 

            .hide {
                display: flex;
                justify-content: space-around;
            }

     
            .sidebar {
                display: flex;
                flex-direction: row;
                width: 100%;
            }

            nav {
                padding-left: 0px;
            }

            .sidebar-content {
                width: 100%;
                display: flex;
                flex-direction: row;
                z-index: 0;                
            }
        
            .sidebar-header {
                display: none;
            }

            .nav-menu {
                width: 90%;         
            }

            .nav-menu a {
                font-size: 0.9em;
                display: inline;
                margin: 0 auto;
                text-align: center;
                width: 100%; 
                margin-right: 200px;
            }

            nav ul {
                margin: 0 auto; 
                padding: 10px;
                border: solid #222222aa 2px;  
            }

            ul i {
                float: right;
            }

            nav li {
                width: 100%;
            }

            nav li:hover {
                background-color:#6666664e;
            }

            .navToggle {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                padding-left: 35px;
                align-items: center;
                
            }

            .sidebar-nav {
                max-height: 45px; 
                overflow: hidden;
                background-color: #222222;
                padding-bottom: 70px;
            }
        
            #navigation {
                width: 20%; 
                margin: 0;
            }

            h3 {
                color:#ff6e61d4;
                text-shadow: #222222 10px 10px 10px 10px;
            }

            .fa-bars {
                width: 20%;
                padding: 0;
                margin: 0;
            }

            .active{
                max-height: 300px;
            }

            .container-right {
                width: 100%;
                            
            }

            .main-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: max-content;
                margin: 0;
                padding: 0;
                gap: 20px;
            }

            .sidebar {
                height: 20%;
            }

            #first-content-inner {
                display: flex;
                padding: 0;
                margin: 0;
                height: 130px;
                gap: 15px;
                align-items: center;
                background-color:#222222;
            }

            .content-inner-img {
                display:flex;
                z-index:1;
                background-color: transparent;
                width: 70px;
                padding-left: 20px;
                margin-right: 0px;

            }

            .content-inner-img img {
                background-color: #222222;
                width: 70px; 
                border-radius: 10px;
                border:#FF6F61 solid 2px;
                
            }

            .content-inner-text { 
                width: 400px;
                height: 100px;
                margin: 0 auto;
                background-color:
                padding: 10px 20px; 
                overflow-y: auto;
                line-height: 2px;
            }    

            #header {
                padding: 0px;
            }

            .main-container {
                background-color:#222222c1;
            }
        }


/* ANIMATIONS */


